html {
    font-size: 62.5%;
}

body {
    font-family: 'Overpass', sans-serif, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

main {
    align-items: center;
    display: flex;
    justify-content: center;

    background-color: var(--very-dark-blue);
    min-height: 100vh;
    padding: 15px;
}

.wrapper-rating {
    background: var(--dark-blue);
    border-radius: 15px;
    color: var(--white);
    max-width: 375px;
    padding: 2.4rem;
    width: 100%;
}

.wrapper-rating__picture {
    align-items: center;
    display: flex;
    justify-content: center;

    background-color: var(--mediumDarkBlue);
    border-radius: 50%;
    height: 4.1rem;
    width: 4.1rem;
}

.wrapper-rating__picture img {
    width: 1.5rem;
    height: 1.5rem;
}

.wrapper-rating h1 {
    font-size: 2.6rem;
    font-weight: 400;
    margin: 0;
    margin-top: 3rem;
}

.wrapper-rating p {
    color: var(--medium-grey);
    line-height: 150%;
    font-size: 1.4rem;
    margin: 0;
    margin-top: .7rem;
}

.wrapper-rating ul {
    display: flex;
    justify-content: space-between;

    list-style: none;
    margin: 0;
    margin-top: 3rem;
    padding: 0;
}

.wrapper-rating ul li {
    align-items: center;
    display: flex;
    justify-content: center;

    background-color: var(--mediumDarkBlue);
    border-radius: 50%;
    height: 4.5rem;
    list-style: none;
    padding: 0;
    width: 4.5rem;
}

.wrapper-rating ul li.active {
    background-color: var(--medium-grey);
}

.wrapper-rating ul li:hover {
    background-color: var(--orange);
    cursor: pointer;
}

.wrapper-rating ul li > button {
    background-color: transparent;
    border: none;
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    font-size: 1.4rem;
    margin: 0 !important;
    padding: 0 !important;
    /* line-height: 0; */
    height: 4.5rem;
    width: 4.5rem;
}

.wrapper-rating ul li > button:focus {
    outline: none;
}

.wrapper-rating button.wrapper-rating__btn {
    background-color: var(--orange);
    border: none;
    border-radius: 20px;
    color: var(--white);
    cursor: pointer;
    font-size: 1.3rem;
    letter-spacing: .1rem;
    margin-top: 3rem;
    padding: 1.4rem 0;
    transition: all .3s ease;
    width: 100%;
}

.wrapper-rating button.wrapper-rating__btn:disabled {
    background-color: var(--medium-grey);
    cursor: not-allowed;
}

.wrapper-rating button.wrapper-rating__btn:hover:not(:disabled) {
    background-color: var(--white);
    color: var(--orange);
}

.wrapper-rating button.wrapper-rating__btn:focus {
    outline: none;
}

.wrapper-selected-rate {
    background: var(--dark-blue);
    border-radius: 15px;
    color: var(--white);
    text-align: center;
    max-width: 325px;
    padding: 3.3rem 2.4rem;
}

.wrapper-selected-rate__picture img {
    width: 12.7rem;
}

.wrapper-selected-rate__selected {
    color: var(--orange);
    background-color: var(--mediumDarkBlue);
    border-radius: 1.6rem;
    font-size: 1.2rem;
    letter-spacing: .03rem;
    margin: 0 auto;
    margin-top: 2rem;
    padding: .6rem 1rem;
    width: max-content;
}

.wrapper-selected-rate > h1 {
    margin-top: 3rem;
}

.wrapper-selected-rate > p.text {
    font-size: 1.26rem;
    line-height: 160%;
    margin: 0;
}
