html {
    font-size: 62.5%;
}

body {
    font-family: 'Overpass', sans-serif, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

main {
    align-items: center;
    display: flex;
    justify-content: center;

    min-height: 100vh;
    padding: 15px;
}
