html {
    font-size: 62.5%;
}

body {
    font-family: 'Overpass', sans-serif, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

main {
    align-items: center;
    display: flex;
    justify-content: center;

    background-color: var(--very-dark-blue);
    min-height: 100vh;
    padding: 15px;
}

.wrapper-rating {
    background: var(--dark-blue);
    border-radius: 15px;
    color: var(--white);
    max-width: 230px;
    padding: 1.78rem;
    width: 100%;
}

.wrapper-rating__picture {
    align-items: center;
    display: flex;
    justify-content: center;

    background-color: var(--mediumDarkBlue);
    border-radius: 50%;
    margin-bottom: 2rem;
    height: 3rem;
    width: 3rem;
}

.wrapper-rating h1 {
    font-size: 1.5rem;
    margin: 0;
}

.wrapper-rating p {
    line-height: 150%;
    font-size: .9rem;
}

.wrapper-rating ul {
    display: flex;
    justify-content: space-between;

    list-style: none;
    margin: 0;
    margin-top: 1.5rem;
    padding: 0;
}

.wrapper-rating ul li {
    align-items: center;
    display: flex;
    justify-content: center;

    background-color: var(--mediumDarkBlue);
    border-radius: 50%;
    height: 2.7rem;
    list-style: none;
    padding: 0;
    width: 2.7rem;
}

.wrapper-rating ul li.active {
    background-color: var(--medium-grey);
}

.wrapper-rating ul li:hover {
    background-color: var(--orange);
    cursor: pointer;
}

.wrapper-rating ul li > button {
    background-color: transparent;
    border: none;
    color: #fff;
    cursor: pointer;
    margin: 0 !important;
    padding: 0 !important;
    line-height: 0;
    height: 2.7rem;
    width: 2.7rem;
}

.wrapper-rating ul li > button:focus {
    outline: none;
}

.wrapper-rating button.wrapper-rating__btn {
    background-color: var(--orange);
    border: none;
    border-radius: 1.5rem;
    color: var(--white);
    cursor: pointer;
    font-size: .9rem;
    letter-spacing: .1rem;
    margin-top: 1.8rem;
    padding: .7rem 0;
    transition: all .3s ease;
    width: 100%;
}

.wrapper-rating button.wrapper-rating__btn:hover {
    background-color: var(--white);
    color: var(--orange);
}

.wrapper-rating button.wrapper-rating__btn:focus {
    outline: none;
}

.wrapper-selected-rate {
    background: var(--dark-blue);
    border-radius: 15px;
    color: var(--white);
    text-align: center;
    padding: 1.78rem;
}

.wrapper-selected-rate__picture img {
    width: 100px;
}

.wrapper-selected-rate__selected {
    
}
